*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/
.luarc.json

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace/xcshareddata

# CocoaPods
Pods/

# Atom.io
.atom/packages/save-session
.atom/compile-cache
.atom/storage

# Fish local config
.config/fish/config-local.fish
.config/fish/fish_variables.x86_64

# Karabiner
.config/karabiner/automatic_backups
.CFUserTextEncoding
.bash_history
.cache/
.config/.gitignore
.config/git/
.config/github-copilot/
.config/iterm2/
.config/karabiner/
.config/neofetch/
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/simple-update-notifier/
.lesshst
.local/
.npm/
.nvm/
.oh-my-zsh/
.p10k.zsh
.pm2/
.prettierrc
.quokka/
.rest-client/
.viminfo
.vscode/
.zcompdump
.zcompdump-mlvndev-5.9
.zcompdump-mlvndev-5.9.zwc
.zprofile
.zsh_history
.zsh_sessions/
Applications/
Code/
Desktop/
Developer/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.zprofile.pysave
.idlerc/
Google*Drive/
**/Google Drive/
Google\ Drive/
"Applications (Parallels)/"
"Google Drive"
Parallels/
